.header-container {
    background-color: #EAE5E5;
    .heading {
        font-size: 43px;
        font-weight: bold;
        color: #4D4D4D;
    }

    .sub-heading {
        font-size: 18px;
        font-weight: bold;
        color: #4D4D4D;
        margin-right: 150px;
    }

    .menu-items a {
        text-decoration: none;
        padding: 8px 16px;
        color: #8B8B8B;
        font-weight: bold;
    }
}