<div class="header-container">
    <div class="container">
        <div class="js-name heading">{{ data['name'] }}</div>
        <div class="is-flex">
            <div class="js-designation sub-heading">{{data['designation']}}</div>
            <div class="menu-items is-flex flex-content-centre">
                <div><a href="/">Home</a></div>
                <div><a href="/education">Education</a></div>
                <div><a href="/projects">Projects</a></div>
                <div><a href="/contact">Contact</a></div>
            </div>
        </div>
    </div>
</div>