<div class="header-container">
    <div class="container">
        <div class="js-name heading">Nicola Rider</div>
        <div class="is-flex">
            <div class="js-designation sub-heading">Fashion Editor/Stylist</div>
            <div class="menu-items is-flex flex-content-centre">
                <div><a href="/">Home</a></div>
                <div><a href="/education.html">Education</a></div>
                <div><a href="/projects.html">Projects</a></div>
                <div><a href="/contact.html">Contact</a></div>
            </div>
        </div>
    </div>
</div>