@import "~src/variables.scss";

.header-container {
    background-color: $body-color;
    color: $header-heading;
    @media only screen and (max-width: 768px) {
        padding: 16px;
    }
    .heading {
        font-size: 24px;
        font-weight: bold;
    }

    .menu-items a {
        text-decoration: none;
        padding: 8px 16px;
        color: $header-menu-color;
        font-weight: bold;
    }

    .menu-items a.is-active {
        border-bottom: 4px solid red;

    }
}