<div class="profile-container">
    <div class="container is-flex padding flex-content-centre">
        <div class="padding">
            <img class="profile-photo" src="assets/kitti.jfif" alt="profile_photo">
        </div>
        <div class="padding">
            <div class="profile-heading">Hello,</div>
            <div class="profile-sub-heading">a bit about me:</div>
            <div class="is-flex higlight-buttons">
                <div class="padding is-flex flex-content-centre">
                    <div><a href="/education">My Education</a></div>
                </div>
                <div class="padding is-flex flex-content-centre">
                    <div><a href="/projects">My Work</a></div>
                </div>
                <div class="padding is-flex flex-content-centre">
                    <div><a href="/skills">My Skills</a></div>
                </div>
            </div>
            <div>
                {{ data['intro'] }}
            </div>
        </div>
    </div>
</div>