<div class="profile-container">
    <div class="container is-flex padding flex-content-centre">
        <div class="padding">
            <img class="profile-photo" src="assets/kitti.jfif" alt="profile_photo">
        </div>
        <div class="padding">
            <div class="profile-heading">Hello,</div>
            <div class="profile-sub-heading">a bit about me:</div>
            <div class="is-flex higlight-buttons">
                <a routerLink="/education" class="padding is-flex flex-content-centre">
                    <div>My Education</div>
                </a>
                <a routerLink="/projects" class="padding is-flex flex-content-centre">
                    <div>My Work</div>
                </a>
                <a routerLink="/projects" class="padding is-flex flex-content-centre">
                    <div>My Skills</div>
                </a>
            </div>
            <div>
                {{ data['intro'] }}
            </div>
        </div>
    </div>
</div>