/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}

.container {
    max-width: 1152px;
    margin: auto;
}

.background {
    background-color: #EAE5E5;
}

.is-flex {
    display: flex;
}

.flex-space{
    flex:1;
}

.padding {
    padding: 16px;
}

.flex-content-centre {
    align-items: center;
}


